doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title KGL World
  link(rel='stylesheet' href='../css/index.css')
nav.navbar
  img.logo(src='images/company/Brand Logo.png' alt='KGL Logo')
  h1 KGL Ltd
  .buttons
    button Sign In
    button Login
h2.welcome Welcome to Karibu Groceries Limited
p This is  
.carousel
  button.prev(onclick='prevSlide()') &#x276E;
  img#carouselImage(src='./images/company/suck1.jpg' alt='Cereal')
  button.next(onclick='nextSlide()') &#x276F;
