<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/login.css">

</head>

<body>
    <form id="login-form" action="" method="post">
        <div class="login-container">
            <h2>Login</h2>
            <input type="text" id="username" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <p class="error-message" id="error-message">Invalid credentials, try again.</p>
            <button onclick="validateLogin()">Login</button>
        </div>
    </form>

</body>

</html>