<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='../public/css/producelist.css'>
</head>

<body>

    <!-- Form -->
    <main>
        <div class="container">
            <h1>Produce List</h1>

            <button class="btn" onclick="window.location.href='/users/addUser'">+ Add User</button>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="editBtn" onclick="editUser(1)">Edit</button>
                            <button class="delBtn" onclick="deleteUser(1)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>