doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Product Form
  link(rel='stylesheet' href='../css/styles.css')
.form-container
  h2 Add Product
  form#productForm(action='/addProduct' method='post')
    .form-group
      label(for='productName') Product Name
      input#productName(type='text' required='')
    br
    .form-group
      label(for='productDescription') Description
      textarea#productDescription(required='')
    br
    .form-group
      label(for='productPrice') Price (UGX)
      input#productPrice(type='number' required='')
    br
    .form-group
      label(for='productCategory') Produce
      select#productCategory(required='')
        option(value='') Select a produce
        option(value='beans') Beans
        option(value='maize') Maize
        option(value='gnuts') G-nuts
    b
      .form-group
        label(for='productImage') Upload Image
        input#productImage(type='file' accept='image/*')
        img#imagePreview.image-preview
      br
      button(type='submit') Submit
br
script(src='product.js')
