<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales List</title>
    <link rel="stylesheet" href="../public/css/salesList.css">
</head>
<body>
    <div class="container">
        <h1>Agent List</h1>
        <table id="agentTable">
            <thead>
                <tr>
                    <th>Agent Name</th>
                    <th>Agent Id</th>
                    <th>Email Address</th>
                    <th>Password</th>
                    <th>Phone Number</th>
                    <th>Tin</th>
                    <th>Skills</th>
                    <th>Branch</th>
                </tr>
            </thead>
            <tbody id="salesTableBody">
                
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <button onclick="addSale()">Add </button>
    </div>

    <script src="script.js"></script>
</body>
</html>
