doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='../css/styles.css')
.Registration-form
  h2 Registration Form
  form#productForm(action = "/agents/addAgent" method = "post" enctype="multipart/form-data")
    .form-group
      label(for='agentName') Agent Name
      input#agentName(type='text' name="agentName" "agentName" required='')
      br
    br
    .form-group
      label(for='agentId') Agent ID
      textarea#agentId(required='agentId' name='agentId')
    br
    .form-group
      label(for='email') Email Address
      input#email(type='email' name = "email"  required='')
    br
    .form-group
      label(for='password') Password
      input#password(type='password' name='password' placeholder='Enter pasword' required='')
    br
    .form-group
      label(for='phoneNumber') Phone Number
      input#number(type='number' name='phoneNumber' required='')
    br
    .form-group
      label(for='tin') T.I.N
      input#tin(type='number' name='tin' required='')
    br
    .form-group
      label(for='skills') Skills
      input#skills(type='text' name='skills' required='')
    br
    .form-group
      label(for='productCategory') Branch
      select#productCategory(required='' name="branch")
        option(value='') Select a branch
        option(value='maganjo') Maganjo
        option(value='matugga') Matugga
    br
    .form-group
      label(for='image') Upload Image
      input#productImage(type='file' name='image' accept='image/*')
      img#imagePreview.image-preview
    br
    button(type='submit') Submit
script(src='sales.js')
