<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../css/signUp.css">

</head>

<body>
    <div class="header">
        <h1>Signup Page</h1>
    <form action="/letsSignUp" method="post">
    <div class="signup-container">
        <h2>Create an Account</h2>
        <div class="form-group">
            <div class="column">
                <input type="text" id="new-username" name="new-user-name" placeholder="Username">
                <input type="email" id="email" name="email" placeholder="Email">
            </div>
        
            <div class="column">
                <input type="password" id="new-password" name="new-pasword" placeholder="Password">
                <input type="password" id="confirm-password" placeholder="Confirm Password">
            </div>
            <p class="error-message" id="error-message">Passwords do not match!</p>

            <div>
                <label for="role">Select role</label>
                <select name="role" id="role">
                    <option value="director">Director</option>
                    <option value="manager">Manager</option>
                    <option value="employee">Employee</option>
                </select>
            </div>

            <div>
                <label for="branch">Branch</label>
                <select name="branch" id="branch">
                    <option value="director">Matuga</option>
                    <option value="manager">Maganjo</option>
                </select>
            </div>
        </div>
        
        <button onclick="registerUser()">Sign Up</button>
    </div>
    <div class="footer">
        <p>&copy; 2025 Evelyne Uwase. All Rights Reserved.</p>
    </div>


</body>

</html>